body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
}

.main-container {
    display: flex;
}

.box {
    background-color: rgb(30, 30, 30);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.profile-picture {
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
}

.nama-admin {
    font-weight: bold;
}

.search-button {
    padding: 10px;
    margin-top: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown {
    margin-top: 15px;
    text-align: left;
    color: #7f7f7f;
    font-weight: normal;
    opacity: 0.6;
    transition: 0.3s;
}

.dropdown:hover {
    opacity: 1;
    font-weight: bold;
    cursor: pointer;
}

.arrow {
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

.side-box {
    background-color: rgb(30, 30, 30);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin-left: 20px;
    color: #fff;
}

.side-box table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

.side-box th, .side-box td {
    border: 1px solid #fff;
    padding: 8px;
    text-align: center;
    color: #fff;
}

.side-box th {
    background-color: #333;
}